@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~flagpack/dist/flagpack.css";

@layer base {
    @font-face {
        font-family: Whitney;
        font-weight: 300;
        src: url(/fonts/whitneylight.otf) format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 300;
        src: url(/fonts/whitneylightitalic.otf) format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 400;
        src: url(/fonts/whitneybook.otf) format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 400;
        src: url(/fonts/whitneybookitalic.otf) format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 500;
        src: url(/fonts/whitneymedium.otf) format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 500;
        src: url(/fonts/whitneymediumitalic.otf) format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 600;
        src: url(/fonts/whitneysemibold.otf) format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 600;
        src: url(/fonts/whitneysemibolditalic.otf) format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 700;
        src: url(/fonts/whitneyboldregular.woff) format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 700;
        src: url(/fonts/whitneybold.otf) format("woff")
    }
}

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

body {
    text-rendering: optimizeLegibility;
    line-height: 1.15;
}
