@import "country-flag-icons/1x1/flags.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --loading-bg: #e3e3e3;
    --loading-bg-dark: #333333;
    --loading-highlight: #f4f4f4;
    --loading-highlight-dark: #424242;
}

@layer base {
    @font-face {
        font-family: Whitney;
        font-weight: 300;
        src: url("/fonts/whitneylight.otf") format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 300;
        src: url("/fonts/whitneylightitalic.otf") format("opentype");
        font-display: swap;
    }

    @font-face {
        font-family: Whitney;
        font-weight: 400;
        src: url("/fonts/whitneybook.otf") format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 400;
        src: url("/fonts/whitneybookitalic.otf") format("opentype");
        font-display: swap;
    }

    @font-face {
        font-family: Whitney;
        font-weight: 500;
        src: url("/fonts/whitneymedium.otf") format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 500;
        src: url("/fonts/whitneymediumitalic.otf") format("opentype");
        font-display: swap;
    }

    @font-face {
        font-family: Whitney;
        font-weight: 600;
        src: url("/fonts/whitneysemibold.otf") format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 600;
        src: url("/fonts/whitneysemibolditalic.otf") format("opentype");
        font-display: swap;
    }

    @font-face {
        font-family: Whitney;
        font-weight: 700;
        src: url("/fonts/whitneyboldregular.woff") format("woff");
        font-display: swap;
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 700;
        src: url("/fonts/whitneybold.otf") format("opentype");
        font-display: swap;
    }
}

@layer components {
    .btn {
        @apply flex items-center justify-center disabled:cursor-not-allowed transition-all duration-150 rounded-full px-[24px] h-[40px] w-full disabled:bg-gray-400 disabled:hover:bg-gray-400
    }

    .btn.btn-icon {
        @apply justify-between px-4;
    }

    .btn-violet {
        @apply btn text-white bg-violet-500 hover:shadow hover:shadow-violet-400 hover:bg-violet-400
    }

    .dropdown-item {
        @apply text-gray-700 block px-4 py-2 rounded select-none hover:bg-gray-200 hover:cursor-pointer
    }
}

*:focus-visible {
    @apply outline outline-pink-500 outline-2;
}

body {
    @apply dark:bg-black dark:text-white;
    text-rendering: optimizeLegibility;
    line-height: 1.15;
}

table {
    @apply border-separate;
    border-spacing: 0 0.2em;
}

tr th:first-child {
    @apply rounded-l-full;
}

tr th:last-child {
    @apply rounded-r-full;
}

tr td {
    @apply border-y border-y-transparent transition-colors;
}

tr:hover td {
    @apply border-y-violet-500 cursor-pointer;
}

tr td:first-child {
    @apply border-l border-l-transparent rounded-l-3xl;
}

tr td:last-child {
    @apply border-r border-r-transparent rounded-r-3xl;
}

tr:hover td:first-child {
    @apply border-l-violet-500;
}

tr:hover td:last-child {
    @apply border-r-violet-500;
}

@media (prefers-reduced-motion: reduce) and (prefers-color-scheme: light) {
    .loading {
        user-select: none;
        background: var(--loading-bg);
    }
}

@media (prefers-reduced-motion: reduce) and (prefers-color-scheme: dark) {
    .loading {
        user-select: none;
        background: var(--loading-bg-dark)
    }
}

@media (prefers-reduced-motion: no-preference) and (prefers-color-scheme: light) {
    .loading {
        user-select: none;
        background: linear-gradient(110deg, var(--loading-bg) 8%, var(--loading-highlight) 18%, var(--loading-bg) 33%);
        background-size: 200% 500%;
        animation: 2s shine linear infinite;
    }
}

@media (prefers-reduced-motion: no-preference) and (prefers-color-scheme: dark) {
    .loading {
        user-select: none;
        background: linear-gradient(110deg, var(--loading-bg-dark) 8%, var(--loading-highlight-dark) 18%, var(--loading-bg-dark) 33%);
        background-size: 200% 500%;
        animation: 2s shine linear infinite;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 60%);
}
