@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~flagpack/dist/flagpack.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Whitney;
        font-weight: 300;
        src: url("/fonts/whitneylight.otf") format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 300;
        src: url("/fonts/whitneylightitalic.otf") format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 400;
        src: url("/fonts/whitneybook.otf") format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 400;
        src: url("/fonts/whitneybookitalic.otf") format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 500;
        src: url("/fonts/whitneymedium.otf") format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 500;
        src: url("/fonts/whitneymediumitalic.otf") format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 600;
        src: url("/fonts/whitneysemibold.otf") format("opentype")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 600;
        src: url("/fonts/whitneysemibolditalic.otf") format("opentype")
    }

    @font-face {
        font-family: Whitney;
        font-weight: 700;
        src: url("/fonts/whitneyboldregular.woff") format("woff")
    }
    @font-face {
        font-family: Whitney;
        font-style: italic;
        font-weight: 700;
        src: url("/fonts/whitneybold.otf") format("opentype")
    }
}

@layer components {
    .btn {
        @apply flex items-center justify-center disabled:cursor-not-allowed transition-all duration-150 rounded-full px-[24px] h-[40px] w-full disabled:bg-gray-400 disabled:hover:bg-gray-400
    }

    .btn.btn-icon {
        @apply justify-between px-4;
    }
}

*:focus-visible {
    @apply outline outline-pink-500 outline-2;
}

body {
    text-rendering: optimizeLegibility;
    line-height: 1.15;
}

table {
    @apply border-separate;
    border-spacing: 0 0.2em;
}

tr th:first-child {
    @apply rounded-l-full;
}

tr th:last-child {
    @apply rounded-r-full;
}

tr td {
    @apply border-y border-y-transparent transition-colors;
}

tr:hover td {
    @apply border-y-violet-500 cursor-pointer;
}

tr td:first-child {
    @apply border-l border-l-transparent rounded-l-3xl;
}

tr td:last-child {
    @apply border-r border-r-transparent rounded-r-3xl;
}

tr:hover td:first-child {
    @apply border-l-violet-500;
}

tr:hover td:last-child {
    @apply border-r-violet-500;
}
